.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-image: url('/public/images/123.jpg');

  
  }
  
  .text-bg-dark{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .text-bg-dark .title{
    color: #e0d8d8;
    font-size: 55px;
    font-weight: 600;
  }
  .text-bg-dark .sub_title{
    color: #a19d9d;
    font-size: 52px;
    font-weight: 600;
  }
  .text-bg-dark .btns{
    margin-top: 20px;
  }
  .text-bg-dark .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid rgb(51, 46, 46);
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  
  